
{%  extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-contact100">
    <div class="wrap-contact100">

        <div class="contact100-form-title">
            <span class="">Complain Box</span>
        </div>

        <form class="contact100-form validate-form" class="contact-form" method="post" action="/add_complain_submission/">
          {% csrf_token %} 

            <div class="wrap-input100 validate-input">
                <input id="name" name = "complainer_name"class="input100"  Required="True"  type="text" name="name" placeholder="Full name">
            </div>


            <div class="wrap-input100 validate-input">
                <input id="email" name="complainer_email" class="input100"  Required="True"  type="email" name="email" placeholder="Eg. example@email.com">

            </div>

            <div class="wrap-input100 validate-input">
                <input id="name"  name="compain_location" class="input100"  Required="True"  type="text" name="name" placeholder="Location ">

            </div>

            <div class="wrap-input100 validate-input">
                <input id="phone" name="complain_subject" class="input100"  Required="True"  type="text" name="phone" placeholder="Subject">
            </div>


            <div class="wrap-input100 validate-input">
                <textarea id="message" name="problem_details" class="input100"  Required="True"  name="message" placeholder="Problem Details"></textarea>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Send Now
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock %}