{%  extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %} ">

<div class="row pt-5">
  <div class="col-lg-3">
  </div>
  <div class="col-12 col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card-content p-3">
          <div class="text-center">
            <h3>SEND MAIL </h3>
          </div>
          <form action=" {% url 'email' %}" method="post""> 
            {% csrf_token %}
            <P> TO </P>
            <div class="form-group  text_filed input-container mt-5">
                
              <input  type="email" name="toemail"  class="shadow form-control" id="exampleInputEmail1" aria-describedby="emailHelp" Required="True" 
                placeholder="Enter Mail">
            </div>
            <div class="form-group">
                <label for="comment">Message</label>
                <textarea class="form-control"  name="content" rows="5" id="comment"></textarea>
              </div>
        <center>
          <input id='login_btn' type="submit" value="Send"  class="btn btn-outline-danger">
        </center>
     
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">

  </div>
</div>

{% endblock %}

