{%  extends "base.html" %}
{% load static %}

{% block content %}

<div class=" site-blocks-cover overlay responsive">
    <img src="{% static 'images/Skyscrapers_of_Shinjuku_2009_January_(revised).jpg' %}" class="img-fluid main_img"
        alt="Responsive image " style="width: 100%;" data-aos="fade" data-stellar-background-ratio="0.5">
    <!-- menu Section start  -->
    <div class="col-sm-12 languageselector ">
        <nav class=" navbar-fixed-top  navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand logo_title" href="{% url 'home' %}"> Digital City </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated  %}
                    <li>
                        <!-- <a>  Hello, {{ user.username }} </a> -->
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="accounts/logout"> LogOut </a>
                    </li>

                    {% else %}

                    <li class="nav-item">

                        <a class="nav-link" href="accounts/register"> Register </a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="accounts/login">Log In </a>
                    </li>

                    {% endif %}
                    <li class="nav-item dropdown mr-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Bangla</a>
                            <a class="dropdown-item" href="#">English</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="title_contains2">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="col-lg-12 col-md-12 menu_main ">
        <!-- Start  Left SEction  -->
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="container-fluid ">
                    <div class="mybtn">
                        <a class="button" href="{% url 'home' %}">HOME</a>
                        <a class="button" href="{% url 'news' %}">NEWS</a>
                        <a class="button" href="{% url 'notice' %}">NOTICES</a>
                        <a class="button" href="{% url 'events' %}">EVENTS</a>
                        <a class="button" href="">GAlLARES</a>
                        <a class="button" href="#">MAYOR AND COUNCILOR</a>
                        {% if user.is_authenticated  %}
                        <a class="button" href="{% url 'complain' %}"> COMPLAIN BOX </a>
                        {% endif %}
                        <a class="button" href="{% url 'compalin_list_chart_view' %}"> VIEW COMPLAIN </a>
                        <a class="button" href="{% url 'contact' %}"> CONTACT </a>
                    </div>
                </div>

                <br>

                <br>
                <div class="card">
                    <div class=" bg-light ">
                        <img src="{% static 'images/download.jpeg'   %}" style="width:100%;height:400px;"
                            class="img-fluid" alt="Responsive image" data-aos="fade"
                            data-stellar-background-ratio="0.5">
                        <div class="centered weather_details">
                            <div class="text-light">
                                <h1 style="margin-top: -50px;">Tempareure </h1>
                                {% for n in toi_news %}
                                <h3> {{ n }}</h3>
                                {% endfor %}
                                <br>
                                <h5> {{ wdetails }}</h5>
                                <h3>{{ we_temp }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="container pt-3">
                        <div id='map' style='width: 400px; height: 300px;'></div>
                        <script>
                            mapboxgl.accessToken = '{{ mapbox_access_token }}';
                            var map = new mapboxgl.Map({
                                container: 'map',
                                style: 'mapbox://styles/jahidul7/ckfdui9vd07i819pfgjpenlnp',
                                // starting position
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    {% for mayor in mayor_con %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ mayor.mayor_or_councilor_image.url  }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ mayor.mayor_or_councilor_name }} </h5>
                                <p class="card-text" id="event_date"> {{ mayor.deginaion }} </p>
                                <p class=" " id="event_time">{{ mayor.email }}</p>
                                <br>
                                <p class=" " id="event_time">{{ mayor.about }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>

            </div>
        </div>
        <br>

        <!-- Footer Section  -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">TownPress is a premium Municipality WordPress theme. It is best suited
                            to be used as a presentation site for small to medium towns. You will find an extensive list
                            of features to help create the website your town needs!</p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li><a href="">UPCOMING EVENTS </a></li>
                            <li><a href="">
                                    Kids Sports Day</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Contract </h6>
                        <ul class="footer-links">
                            <li><a href="http://scanfcode.com/about/">01794895700</a></li>
                            <li><a href="http://scanfcode.com/contact/">programmerjahid162@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
    </div>
    </footer>
</div>
</div>
{% endblock %}