
{%  extends "base.html" %}
{% load static %}

{% block content %}

<div class=" site-blocks-cover overlay responsive">
         <img src=" {% static  'images/Skyscrapers_of_Shinjuku_2009_January_(revised).jpg' %}" class="img-fluid main_img"
            alt="Responsive image " style="width: 100%;" data-aos="fade" data-stellar-background-ratio="0.5">
         <!-- menu Section start  -->
         <div class="col-sm-12 languageselector ">
            <nav class=" navbar-fixed-top  navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand logo_title" href="#">BHANDARIA MUNICIPALITY </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="#">Log In </a>
                     </li>
                     <li class="nav-item dropdown mr-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" href="#">Bangla</a>
                           <a class="dropdown-item" href="#">English</a>
                     </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  </div>
            </nav>
            </div>

 <div class="col-lg-12 col-md-12 menu_main ">
               <!-- Start  Left SEction  -->
               <div class="row">
                  <div class="col-lg-3 col-md-3">
                     <div class="container-fluid ">
                           <div class="mybtn">
                              <a class="button" href="{% url 'home' %}">HOME</a>
                              <a class="button" href="{% url 'news' %">NEWS</a>
                              <a class="button" href="#">NOTICES</a>
                              <a class="button" href="{% url 'events' %}">EVENTS</a>
                              <a class="button" href="">GAlLARES</a>
                              <a class="button" href="{% url 'mayor_and_councilor' %}">Mayor & Councilor</a>
                              <a class="button" href="{% url 'complain' %}"> COMPLAIN BOX </a>
                              <a class="button" href="{% url 'contact' %}"> CONTACT </a>
                        </div>
                     </div>
                  
                     <br>

                          <br>
                     <div class="card">
                        <div class=" bg-light ">
                           <img src="{% static 'images/download.jpeg' %}" style="width:100%;height:400px;" class="img-fluid"
                              alt="Responsive image" data-aos="fade" data-stellar-background-ratio="0.5">
                           <div class="centered weather_details">
                              <h5 class="weather_header text-white text-center"> WEATHER INFO </h5>
                              <div style="overflow: hidden;">
                                 <p class="text-white" style="float: left;">Local Time</p>
                                 <p class="text-white" style="float: right;">3:08 pm </p>
                              </div>
                              <div style="overflow: hidden;">
                                 <p class="text-white" style="float: left;">Today
                                    <small>
                                    January 29, 2020
                                    </small> 
                                 </p>
                                 <p class="text-white" style="float: right;">2c</p>
                              </div>
                              <div style="overflow: hidden;">
                                 <p class="text-white" style="float: left;">Today
                                    <small>
                                    January 29, 2020
                                    </small> 
                                 </p>
                                 <p class="text-white" style="float: right;">2c</p>
                              </div>
                              <div style="overflow: hidden;">
                                 <p class="text-white" style="float: left;">Today
                                    <small>
                                    January 29, 2020
                                    </small> 
                                 </p>
                                 <p class="text-white" style="float: right;">2c</p>
                              </div>
                              <p class="weather_detail_link text-white"> weather data by <a
                                 href="www.weather.com">weather.com</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <br>

                     <br>
                     <div class="card">
                        <div class="container pt-3">
                           <h6>FEATURED GALLERY
                           </h6>
                           <br>
                           <img class="card-img-top" src="{% static 'images/1-whytheweathe.jpg' %}" style="width:100%"
                              alt="Card image cap">
                           <div class="card-body">
                              <p class="galary_title"><a href="#">Streets of Bhandaria</a>
                                 <br> <small>November 17, 2018
                                 </small>
                              </p>
                              <p> <a href="#"> More </a></p>
                           </div>
                        </div>
                     </div>

</div>


<div class="col-md-7">

  <div class="card">
                                <div class="card-header" style="color: red;">
                                    <a href=""> Bongobondhu gold Cup  </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"> Gold Cup</h5>
                                    <p class="card-text" style="font-size:1rem;">A knockout tournament or elimination tournament is divided
                                        into successive rounds; each competitor plays in at least one fixture per
                                        round. The top-ranked competitors in each fixture progress to the next
                                        round. As rounds progress, the number of competitors and fixtures decreases.
                                        The final round, usually known as the final or cup final, consists of just
                                        one fixture; the winner of which is the overall champion.

                                        In a single-elimination tournament, only the top-ranked competitors in a
                                        fixture progress; in 2-competitor games, only the winner progresses. All
                                        other competitors are eliminated. This ensures a winner is decided with the
                                        minimum number of fixtures. However, most competitors will be eliminated
                                        after relatively few matches; a single bad or unlucky performance can
                                        nullify many preceding excellent ones.

                                        A double-elimination tournament may be used in 2-competitor games to allow
                                        each competitor a single loss without being eliminated from the tournament.
                                        All losers from the main bracket enter a losers’ bracket, the winner of
                                        which plays off against the main bracket’s winner.</p>
                                    <p> December 1, 2018 by
                                        <a href="#"> <small> amadernews24 </small></a>
                                    </p>
                                </div>
                            </div>
                          <br>
                              <div class="card">
                                <div class="card-header" style="color: red;">
                                    <a href=""> Soccer Tournament Timetable </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text" style="font-size:1rem;">A knockout tournament or elimination tournament is divided
                                        into successive rounds; each competitor plays in at least one fixture per
                                        round. The top-ranked competitors in each fixture progress to the next
                                        round. As rounds progress, the number of competitors and fixtures decreases.
                                        The final round, usually known as the final or cup final, consists of just
                                        one fixture; the winner of which is the overall champion.

                                        In a single-elimination tournament, only the top-ranked competitors in a
                                        fixture progress; in 2-competitor games, only the winner progresses. All
                                        other competitors are eliminated. This ensures a winner is decided with the
                                        minimum number of fixtures. However, most competitors will be eliminated
                                        after relatively few matches; a single bad or unlucky performance can
                                        nullify many preceding excellent ones.

                                        A double-elimination tournament may be used in 2-competitor games to allow
                                        each competitor a single loss without being eliminated from the tournament.
                                        All losers from the main bracket enter a losers’ bracket, the winner of
                                        which plays off against the main bracket’s winner.</p>
                                    <p> December 1, 2018 by
                                        <a href="#"> <small> amadernews24 </small></a>
                                    </p>
                                </div>
                            </div>

                            <br>
                              <div class="card">
                                <div class="card-header" style="color: red;">
                                    <a href=""> Soccer Tournament Timetable </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text" style="font-size:1rem;">A knockout tournament or elimination tournament is divided
                                        into successive rounds; each competitor plays in at least one fixture per
                                        round. The top-ranked competitors in each fixture progress to the next
                                        round. As rounds progress, the number of competitors and fixtures decreases.
                                        The final round, usually known as the final or cup final, consists of just
                                        one fixture; the winner of which is the overall champion.

                                        In a single-elimination tournament, only the top-ranked competitors in a
                                        fixture progress; in 2-competitor games, only the winner progresses. All
                                        other competitors are eliminated. This ensures a winner is decided with the
                                        minimum number of fixtures. However, most competitors will be eliminated
                                        after relatively few matches; a single bad or unlucky performance can
                                        nullify many preceding excellent ones.

                                        A double-elimination tournament may be used in 2-competitor games to allow
                                        each competitor a single loss without being eliminated from the tournament.
                                        All losers from the main bracket enter a losers’ bracket, the winner of
                                        which plays off against the main bracket’s winner.</p>
                                    <p> December 1, 2018 by
                                        <a href="#"> <small> amadernews24 </small></a>
                                    </p>
                                </div>
                            </div>
                            <br>
</div>

</div>

<br>
<br>
 

 <!-- Footer Section  -->
           <footer class="site-footer">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-12 col-md-6">
                           <h6>About</h6>
                           <p class="text-justify">TownPress is a premium Municipality WordPress theme. It is best suited to be used as a presentation site for small to medium towns. You will find an extensive list of features to help create the website your town needs!</p>
                        </div>
                        <div class="col-xs-6 col-md-3">
                           <h6>Categories</h6>
                           <ul class="footer-links">
                              <li><a href="">UPCOMING EVENTS </a></li>
                              <li><a href="">   
                                 Kids Sports Day</a>
                              </li>
                           </ul>
                        </div>
                        <div class="col-xs-6 col-md-3">
                           <h6>Quick Contract </h6>
                           <ul class="footer-links">
                              <li><a href="http://scanfcode.com/about/">01794895700</a></li>
                              <li><a href="http://scanfcode.com/contact/">programmerjahid162@gmail.com</a></li>
                           </ul>
                        </div>
                     </div>
                     <hr>
                  </div>
            </div>
            </footer>

  </div>
</div>
{% endblock %}